:root {
    --bgcolor: #fff;
    --barbgcolor: #1D72B5;
    --barbgcolor-1: #1D72B5;
    --bartextcolor-1: #fff;
    --linkColor: #333;
    --linkColorHover: #1D72B5;
}

body {
    margin: 0;
    padding: 0;
}

$rgba:#1D72B5;
* {
    box-sizing: inherit;
}

.temp {
    width: 760px;
    float: left;
    margin-left: calc(50% - 380px);
}

.layout02,
.layout03 {
    font-family: 'Roboto Condensed';
    background-color: var(--bgcolor);
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: var(--linkColor);
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
    .important {
        display: grid;
        grid-template-columns: 1fr 300px;
        // height: 310px;
        grid-column-gap: 15px;
        border: solid 1px #333;
        .left {
            a {
                position: relative;
                width: 100%;
                height: 100%;
                display: block;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                p {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    padding: 10px;
                    background-color: rgba($rgba, .5);
                    color: #fff;
                }
            }
        }
        .right {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 10px;
            a {
                display: grid;
                grid-template-columns: 80px 1fr;
                grid-column-gap: 10px;
                img {
                    width: 100%;
                }
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .banner {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
        img {
            width: 100%;
        }
    }
    .element {
        margin-top: 15px;
        box-shadow: 0 1px 5px #bebebe;
        border-radius: 5px;
        .bar {
            background-color: var(--barbgcolor-1);
            padding: 7px;
            padding-left: 40px;
            color: var(--bartextcolor-1);
            border-radius: 5px 5px 0 0;
            background-image: url(img/icon.png);
            background-repeat: no-repeat;
            background-position: 5px center;
            background-size: 25px;
        }
        .itemview {
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            div {
                &:first-child {
                    h3 {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        padding-bottom: 10px;
                    }
                    img {
                        width: 150px;
                        float: left;
                        padding-right: 15px;
                    }
                    p {
                        text-align: justify;
                    }
                }
                &:last-child {
                    li {
                        background: url(img/icon3.gif) no-repeat left center;
                        padding-left: 15px;
                        &:hover a {
                            color: var(--linkColorHover);
                        }
                    }
                    li:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.layout03 {
    width: calc(100% - 10px);
    margin: 0 auto;
    min-height: 100vh;
    .topicons {
        position: sticky;
        top: 5px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
        a {
            background-color: var(--barbgcolor);
            color: var(--bartextcolor-1);
            border-radius: 3px;
            text-decoration: none;
            padding: 7px;
            padding-top: 40px;
            text-align: center;
            background-image: url(img/icon.png);
            background-repeat: no-repeat;
            background-position: center 7px;
            background-size: 30px;
        }
        img {
            width: 30px;
            margin: auto;
        }
    }
}